*.toDelete
output/**
*.class
*~
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
build/
tmp_deb_control/
tmp_rpm_control/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/build
**/target
**/Californium.properties
**/Californium3.properties
**/.env
.instance_id
rebuild-docker.sh
*/.run/**
.run/**
.run
/.vs/slnx.sqlite
*.vsidx
/.vs/thingsboard/v17/.wsuo
/.vs/thingsboard/FileContentIndex/b5713f20-131f-4fe9-8c85-272ec7147ea3.vsidx
*.lock
/.vs/slnx.sqlite-journal
/.vs/thingsboard/FileContentIndex/153e28bc-487c-4399-8921-6fab2f1f4cee.vsidx
/.vs/thingsboard/FileContentIndex/8b7e24f4-6ec8-477f-b892-ffcb4a4da1f5.vsidx
/.vs/thingsboard/FileContentIndex/a88a957b-2a33-429f-9951-11d4bccc5210.vsidx
